@import "./_colors";

h1,
h2,
p,
Button,
Link,
a {
  color: $base-font-color;
}

h1,
h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  background: $base-background-color;
  border-top: 1px solid $base-background-color;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.image {
  &_gif {
    height: 20rem;
    width: auto;
    margin: 0.5rem 0;
  }
}
