@import "./_colors";
@import "./_layout";

body {
  font-family: "Poppins";
}

h1,
h2,
h3,
h4,
h5,
p,
Button,
Link,
a {
  color: $usa-white;
}

h1 {
  font-family: "Lobster";
}

h1,
h2 {
  text-align: center;
}

h3,
h4,
h5 {
  text-align: left;
  text-transform: uppercase;
  width: $secondary-container-width;
}

a {
  text-decoration: none;
}

footer {
  // position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  background: $usa-blue;
  border-top: 1px solid $usa-blue;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  height: auto;
}

.image {
  &_gif {
    height: 20rem;
    width: auto;
    margin: 0.5rem 0;
  }
}
