@import "./_colors";
@import "./_layout";
$base-transition: 100ms;
$base-transition-and-effect: 100ms ease-in;

.navigation {
  background-color: $usa-white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 1rem 0;
}

.paragraph {
  &_constitution {
    width: $secondary-container-width;
    margin: $base-paragraph-margins;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  text-align: center;
  width: $base-container-width - 20rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid $usa-white;
  transition: all $base-transition-and-effect;
}

.button:hover {
  background-color: $usa-white;
  color: $usa-blue;
}

.link {
  text-decoration: none;
  border-bottom: 1px $usa-white dashed;
  color: $usa-white;
  background: linear-gradient($usa-white 0 0) 0% calc(-1px - 100%) /
    var(--d, 0%) 200% no-repeat;
  transition: $base-transition,
    background-size $base-transition $base-transition;

  &_navbar {
    background-color: transparent;
    text-decoration: none;
    color: $usa-blue;
    position: relative;
    margin: 0 0.5rem;
    transition: $base-transition;

    &-header {
      background-color: transparent;
      color: $usa-blue;
      text-decoration: none;
      font-family: "Lobster";
      font-size: 3rem;
      text-align: center;
      margin-left: 1rem;
      transition: $base-transition;
    }

    &-header:hover {
      color: $usa-red;
    }
  }

  &_navbar:last-child {
    margin-right: 1rem;
  }

  &_navbar:hover {
    color: $usa-red;
  }
}

.link:hover {
  --d: 100%;
  background-position: 50% 0%;
  color: $usa-blue;
  transition: $base-transition,
    background-position $base-transition $base-transition,
    color $base-transition $base-transition;
}
