@import "./_colors";

$base-container-width: 60rem;
$secondary-container-width: 100%;
$tertiary-container-width: 50%;

$base-container-border-radius: 0.1rem;

$base-paragraph-margins: 0.25rem 0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $usa-blue;
}

.layout {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  height: auto;
  width: $secondary-container-width;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: auto;
  max-width: $base-container-width;
  margin: 1rem auto;
  padding: 1rem;

  &_navigation {
    background-color: $usa-white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: $secondary-container-width;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  &_navbar-header {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: $tertiary-container-width;
  }

  &_navbar {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;

    &--links {
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: $tertiary-container-width;
    }
  }

  &_menu-icon {
    background-color: $usa-white;
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  &_dropdown-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 30vh;
    width: auto;
    margin-bottom: 1rem;

    &--hidden {
      display: none;
    }
  }
}
